h2,h3{
    font-weight: normal;
}
#red-box{
    background-color: red;
    height: 100px;
    width: 100px;
}
#orange-box{
    background-color: orange;
    height: 100px;
    width: 100px;
}
#green-box{
    background-color: green;
    height: 100px;
    width: 100px;
}
#blue-box{
    background-color: blue;
    height: 100px;
    width: 100px;
}
